<!doctype html>
<html lang="en">

<head>
    <title> Delete Account </title>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js.css"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <script>
        function deleteFunction() {
            var deleteName = document.getElementById("delete").submit();
        }

        function backFunction() {
            //			 var registerName = document.getElementById("register").submit();
            window.location.href = "/";
        }
    </script>
    <style>
        form {
            border-style: groove;
            border-width: 5px;
            margin: 3vh 25vw;
            padding: 25px 50px;
            border-radius: 10px;
        }
        
        .txtfield {
            padding: 5px;
            width: 100%;
            border-radius: 4px;
        }
        
        h1 {
            margin: 50px;
            color: #333;
            text-align: center;
        }
        
        .btn {
            margin: 0px 10px 0px 0px;
        }
    </style>
</head>

<body>
    <h1>Make Movie Great Again</h1>
    <form id="delete" action="delete" method="post">
        <p>Please Enter The Account Information</p>
        <input class="txtfield" type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p></p>
        <input class="txtfield" type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <br>
                <br>
        <p>This will delete your personal information Are you sure?</p>

        <input class="btn btn-danger" type="button" id="delete" onclick="deleteFunction()" value="Yes,I confirm.">
        <input class="btn btn-link" type="button" id="back" onclick="backFunction()" value="back">
    </form>
</body>

</html>