<!doctype html>
<html lang="en">

<head>
    <title> Welcome </title>
    <script src="js/jquery.min.js"></script>
    <script src="jstether.min.js"></script>
    <script src="js/bootstrap.min.js.css"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
        h1 {
            margin: 50px;
            color: #333 text-align: center;
        }
        
        .btn {
            margin: 0px 10px 0px 0px;
        }
        
        table,
        th,
        td {
            margin: 2px;
            padding: 5px;
            border: 1px solid black;
            text-align: left;
        }
    </style>
    <script>
        $(document).ready(function (e) {

            var $buttons = $('#buttons');
            $('#buttons').find('input').on('click', function (e) {

                var $desc = $("#content")

                switch ($(this).attr('value')) {

                case 'All Movies':
                    $desc.load('allmovie');
                    break;

                case 'All Actors':
                    $desc.load('allactor');
                    break;

                case 'All Topics':
                    $desc.load('alltopic');
                    break;

                case 'All Directors':
                    $desc.load('alldirector');
                    break;
                case 'Movie With Topics':
                    $desc.load('movietopics')
                    break;
                }
            });
        });
    </script>
</head>

<body>
    <h1 align='center'>Select the list that you want to see</h1>
    <div id='buttons' align="center" style="padding: 50px;">
        <input class="btn btn" type="button" value="All Movies">
        <input class="btn btn" type="button" value="All Actors">
        <input class="btn btn" type="button" value="All Topics">
        <input class="btn btn" type="button" value="All Directors">
        <input class="btn btn" type="button" value="Movie With Topics">
    </div>
    <div id="content" align="center">You did not select anything</div>
</body>


</html>