<html>
    
<head>
    <title>Make Movie Great Again - Welcome</title>
	<link rel="stylesheet" href="login_register.css">
</head>
<body>
    <h1>Make Movie Great Again</h1>
    <form id= "login" action = "">
        <p style="color : red;">Please login first</p>
        Username/Email:
        <input type="text" name="login"><br><br>
        Password:
        <input type="password" name="password">
        <br>
        <br>
        <input type="button" onclick="loginFunction()" value="Login">
		<input type="button" onclick="registerFunction()" value="Sign Up">
    </form>
    <script>
        function loginFunction() {
			document.getElementById("login").submit();
        }
		
		function registerFunction() {
			window.location.href = "register.html"
		}
        
    </script>
</body>
<script src="routes/index.js" ></script>
</html>