<!doctype html>
<html lang="en">

<head>
    <title> Please Sign-in </title>
    <script src="js/jquery.min.js"></script>
    <script src="jstether.min.js"></script>
    <script src="js/bootstrap.min.js.css"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <script>
        function loginFunction() {
            var loginName = document.getElementById("login").submit();
        }

        function registerFunction() {
            //			 var registerName = document.getElementById("register").submit();
            window.location.href = "signup"
        }
    </script>
    <style>
        form {
            border-style: groove;
            border-width: 5px;
            margin: 3vh 25vw;
            padding: 25px 50px;
            border-radius: 10px;
        }
        
        .txtfield {
            padding: 5px;
            width: 100%;
            border-radius: 4px;
        }
        
        h1 {
            margin: 50px;
            color: #333;
            text-align: center;
        }
        
        .btn {
            margin: 0px 10px 0px 0px;
        }
    </style>
</head>

<body>
    <h1>Make Movie Great Again</h1>
    <form id="login" action="login" method="post">
        <p>Please login first</p>
        <input class="txtfield" type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p></p>
        <input class="txtfield" type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <p></p>
        <input class="btn btn-success" type="button" id="login" onclick="loginFunction()" value="Login">
        <input class="btn btn-link" type="button" id="register" onclick="registerFunction()" value="Sign Up">
    </form>
</body>

</html>