<!doctype html>
<html lang="en">

<head>
    <title> Please Sign-in </title>
    <!--    <link rel="stylesheet" href="css/style.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</head>

<body>
    <h1>MakeMovieGreatAgain</h1>
    <form id="login" action="login" method="post">
        <p>Please login first</p>
        <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p></p>
        <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <p></p>
        <input type="button" id="login" onclick="loginFunction()" value="Login">
        <input type="button" id="register" onclick="registerFunction()" value="Sign Up">

    </form>
    <script>
        function loginFunction() {
            var loginName = document.getElementById("login").submit();
        }

        function registerFunction() {
            //			 var registerName = document.getElementById("register").submit();
            window.location.href = "signup"
        }
    </script>
</body>

</html>