<!doctype html>
<html lang="en">

<head>
    <title> Welcome </title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>

<body>
    skjhfkjshdjkfahkjsdfhkjshdjkh
</body>

</html>