<!DOCTYPE html ng-app="myApp">

<html>

<head>
    <title>Make Movie Great Again - Register Page</title>
    <!--		<link rel="stylesheet" href="login_register.css">-->
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- Tether for Bootstrap -->

    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <script>
        function registerFunction(first,last,email,year,gender,p1,p2) {
			if (first.value=="") {
				window.alert("First name cannot be empty.");
				return false;
			} if (last.value=="") {
				window.alert("Last name cannot be empty.");
				return false;
			} if (email.value=="") {
				window.alert("Email address cannot be empty.");
				return false;
			} if (email.value.indexOf("@")==-1) {
				window.alert("Please enter a valid email address.");
				return false;
			} if (p1.value=="") {
				window.alert("Password cannot be empty.");
				return false;
			} if (p1.value!=p2.value) {
				window.alert("Please make sure your passwords are identical.");
				return false;
			}
			window.alert("Congratulatious! You have an account now.");
			window.location.href = "select_topic.html";
			return true;
		}
		
        function back() {
            window.location.href = "index"
            return true;
        }
    </script>
    <h2>Make Movie Great Again</h2>
    <form id="register" name="register" action="">

        <p style="color : red;">Please enter the following information</p>

        <input type="text" name="firstname" placeholder="First Name" id="first" ng-required="true" ng-model="register.email">

        <br>

        <input type="text" name="lastname" placeholder="Last Name" id="last" ng-required="true">

        <br>

        <input type="text" placeholder="Email Address" name="email" id="email" ng-required="ture">

        <br>

        <input type="number" placeholder="Born in" name="year" id=y ear ng-required="ture" min="1900" max="2016">

        <br>

        <br> Gender:
        <select id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="U">Undisclosed</option>
        </select>

        <input type="password" placeholder="Password" id="pw1" name="pw1" ng-model="pw1" ng-required="">

        <br>

        <input type="password" id="pw2" placeholder="Confirm the password" name="pw2" ng-model="pw2" ng-required="">

        <br>

        <input type="button" id="register" onclick="registerFunction(first,last,email,year,gender,pw1,pw2)" value="Register">

        <input type="button" onclick="back()" value="Back to Login">



    </form>

</body>

</html>