<!doctype html>
<html lang="en">

<head>
    <title> Welcome </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
    <script>
        function registerFunction() {
            window.location.href = "signup";
        }

        function loginFunction() {
            window.location.href = "index"
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
        h1 {
            margin: 50px;
            color: #333;
            text-align: center;
        }
        
        h2 {
            margin: 20px;
            color: #666;
            text-align: center;
        }
        
        .btn {
            width: 150px;
            height: 50px;
            /*            padding: 10px 10px 20px 20px;*/
        }
        
        div {
            padding: 150px;
        }
    </style>
</head>

<body>
    <h1>Welcome to the movie database</h1>
    <h2>Please login or signup</h2>
    <div align="center">
        <input class="btn btn-success" type="button" id="login" onclick="loginFunction()" value="Login">
        <input class="btn btn-primary" type="button" id="register" onclick="registerFunction()" value="Sign Up">
    </div>
</body>

</html>